<h1><%= t('workshops.list_header') %></h1>

<table>
  <tr>
    <th><%= t('workshops.name') %></th>
    <th><%= t('workshops.start_at') %></th>
    <th><%= t('workshops.duration') %> [<%= t('time.units.minutes.short') %>]</th>
    <th><%= t('workshops.room') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workshops.each do |workshop| %>
  <tr>
    <td><%= workshop.name %></td>
    <td><%= l(workshop.start_at, :format => :short) %></td>
    <td><%= workshop.duration %></td>
    <td><%= workshop.room.name %></td>
    <td class="action"><%= link_to t(:show), workshop %></td>
    <td class="action"><%= link_to t(:edit), edit_workshop_path(workshop) %></td>
    <td class="action"><%= link_to t(:destroy), workshop, :confirm => t(:confirm_delete), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('workshops.new'), new_workshop_path %>
