<p id="notice"><%= notice %></p>

<p>
  <b><%= t('workshops.name') %>:</b>
  <%= @workshop.name %>
</p>

<p>
  <b><%= t('workshops.start_at') %>:</b>
  <%= l(@workshop.start_at) %>
</p>

<p>
  <b><%= t('workshops.duration') %>:</b>
  <%= @workshop.duration %> <%= t('time.units.minutes.short') %>
</p>

<p>
  <b><%= t('workshops.room') %>:</b>
  <%= link_to(@workshop.room.name, @workshop.room) %>
</p>


<%= link_to t(:edit), edit_workshop_path(@workshop) %> |
<%= link_to t(:back), workshops_path %>
