<h1><%= t('rooms.list_header') %></h1>

<table>
  <tr>
    <th><%= t('rooms.name') %></th>
    <th><%= t('rooms.location') %></th>
    <th><%= t('rooms.capacity') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %></td>
    <td><%= room.location %></td>
    <td><%= room.capacity %></td>
    <td class="action"><%= link_to t(:show), room %></td>
    <td class="action"><%= link_to t(:edit), edit_room_path(room) %></td>
    <td class="action"><%= link_to t(:destroy), room, :confirm => t(:confirm_delete), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('rooms.new'), new_room_path %>
