<p id="notice"><%= notice %></p>

<p>
  <b><%= t('rooms.name') %>:</b>
  <%= @room.name %>
</p>

<p>
  <b><%= t('rooms.location') %>:</b>
  <%= @room.location %>
</p>

<p>
  <b><%= t('rooms.capacity') %>:</b>
  <%= @room.capacity %>
</p>

<p>
  <b><%= t('rooms.workshops') %>:</b>
  <ul>
    <% @room.workshops.each do |workshop| %>
      <li><%= link_to(workshop.name, workshop) %></li>
    <% end %>
  </ul>
</p>


<%= link_to t(:edit), edit_room_path(@room) %> |
<%= link_to t(:back), rooms_path %>
