<!DOCTYPE html>
<html>
<head>
  <title>WorkshopManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="header">
    <ul>
      <li><%= link_to t('rooms.index'), rooms_path %></li>
      <li><%= link_to t('workshops.index'), workshops_path %></li>
    </ul>
  </div>

<%= yield %>

</body>
</html>
